@charset "utf-8";

html { 
	background: url(../images/xo1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: #ff8b3d;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

#login-form {
	background-color: #363636;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	margin: 150px auto;
	width: 300px;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
   box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  
}

#login-form h1 {
	background-color: #292829;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	color: #fff;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#login-form fieldset {
	border: none;
	padding: 20px;
	position: relative;
}


#login-form fieldset form {
	overflow: hidden;
	width: 270px;
}

#login-form fieldset form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
  -webkit-appearance:none;
  width: 260px;
  align: center;
  position: center;
  

}

#login-form fieldset form input[type="email"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 238px;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="password"] {
	border: 1px solid #292829;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 12px 10px;
	width: 238px;
  -webkit-appearance:none;
}

#login-form fieldset form input[type="submit"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #404040;
	cursor: pointer;
	float: none;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 12px;
  -webkit-appearance: none;
}
#login-form fieldset form input[type="button"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #404040;
	cursor: pointer;
	float: none;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px 5px;
  -webkit-appearance: none;
}

#login-form fieldset form input[type="submit"]:hover {
	background-color: #e0e0e0;
}

#login-form fieldset form span:before {
	background-color: #c9c9c9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	content: "?";
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	width: 20px;
}

#login-form fieldset form span {
	font-size: 12px;
	margin-top: 40px;
}

#login-form fieldset form span a{
	color: #eb6d1a;
	text-decoration: none;	
}

#login-form fieldset form span a:hover {
	color: #eb6d1a;
}

@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
 display: block;
 pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);

}

.close {
   background: #606061;
   color: #FFFFFF;
   line-height: 25px;
   position: absolute;
   right: -12px;
   text-align: center;
   top: -10px;
   width: 24px;
   text-decoration: none;
   font-weight: bold;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -moz-box-shadow: 1px 1px 3px #000;
   -webkit-box-shadow: 1px 1px 3px #000;
   box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
